@{
    ViewData["Title"] = "Home Page";
}
<body body style="background-color:white;">
    <div class="text-center">
        <font face="Brush Script MT " size="30">Welcome to The Three Musketeers' Music School</font> <br />
@*        <font face="Comic Sons" size="30">Welcome to The Three Musketeers' Music School</font>
*@
@*        <h1 class="display-4">Welcome to The Three Musketeers' Music School</h1>
*@        <img src="~/images/untitled-12.jpg" width="1200px" height="400px" />
    </div>
</body>

