<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - | MusicSchool |</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="~/lib/bootstrap-icons/font/bootstrap-icons.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MusicSchool.styles.css" asp-append-version="true" />
</head>
<body>
<p>
    <b>Adress:</b><br />
    Ankara Teknoloji Geliştirme Bölgesi, G Blok, Üniversiteler Mahallesi Beytepe Lodumlu Köy Yolu Caddesi No:91, 06800 Bilkent Çankaya / ANKARA​​
    &nbsp;<br />
    <b>Telefon No:</b><br />
    0312 (5xx) xxxx



</p>


</body>
</html>